*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    background:rgba(12, 36, 95, 1);
    .box{
        background: linear-gradient(270deg, #081942 1.33%, #081942 65.73%, rgba(8, 25, 66, 0) 95.72%);;
        display: flex;
        justify-content: flex-end;
        .hotline{
            padding-right: 2%;
            display: inline-table;
            p{ 
                padding-top: 1%;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #4468C0;
                position: relative;
                padding-left: 18px;
            }
            p:before{
                background: url("../images-1/phone.png");
                content: '';
                position: absolute;
                width: 11px;
                height: 11px;
                left: 0;
                transform: rotate(-12.92deg);
            }
        }
        .search{
            padding-right: 3%;
            display: inline-table;
            // background: #4468C0;
        }
    }
    .menu{
        .logo{
            padding-left: 7%;
            display: inline-table;
        }
        ul{
            width: 85%;
            display: inline-table;
            padding-left: 18%;
            li{
                list-style-type: none;
                text-align: center;
                display: inline-table;
                padding: 2%;
            }
            a{
                text-decoration: none;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 190.19%;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            a:hover{
                color: #F7AC30;
            }
        }
        .menu-toggle{
            display: inline-table;
            line-height: 73px;
            }
            .bar1, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #fff;
                margin: 6px 0;
                transition: 0.4s;
              }
              .bar2{
                    width: 25px;
                    height: 5px;
                    background-color: #fff;
                    margin: 6px 10px;
                    transition: 0.4s;
              }
              .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
              }
              .change .bar2 {opacity: 0;}
              .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
              }
            
        }
    }