*{
    padding: 0;
    margin: 0;
}
    .content{
        .banner{
            .img{
                img{
                    position: relative;
                    width: 100%;
                }
            }
            .finan{
                position: absolute;
                top:60%;
                left: 45%;
                transform: translate(-50%,-50%);
            }
            .text{
                position: absolute;
                top:60%;
                left: 40%;
                transform: translate(-50%,-50%);
                h1{
                    font-family: SVN-Rounded;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 40px;
                    line-height: 40px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #F7AC30;
                }
                p{
                    font-family: SVN-Gotham;
                    font-style: normal;
                    font-weight: 450;
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                }
            }
        }
    }
    .linh-vuc-hoat-dong{
        .text{
            padding-top: 5%;
            background: #010C2A;
            h2{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 107.16%;
                text-align: center;
                letter-spacing: 0.33em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            h1{
                font-family: SVN-Rounded;
                font-style: normal;
                font-weight: normal;
                font-size: 45px;
                line-height: 51px;
                text-align: center;
                color: #FFFFFF;
            }
            p{
                padding: 2% 24.5%;
                font-family: SVN-Gotham;
                font-style: normal;
                font-weight: 325;
                font-size: 14px;
                line-height: 159.66%;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .slide{
            width: 80%;
            margin: 0 auto;
            .lazy{
                padding-bottom: 3%;
                img{
                   width: 100%;
                   padding: 3%;
                }
                .slick-arrow{
                    display: none !important;
                }
                .text-1{
                    background: #FFF;
                    width: 93%;
                    margin: 0 auto;
                    h2{
                        padding-top: 5%;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 107.16%;
                        text-align: center;
                        letter-spacing: 0.33em;
                        text-transform: uppercase;
                        color: #959595;
                    }
                    h1{
                        font-family: SVN-Rounded;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 45px;
                        line-height: 51px;
                        text-align: center;
                        color: #959595;
                    }
                }
            }
            .item:hover{
                background: linear-gradient(180deg, #F7AC30 0%, rgba(247, 172, 48, 0) 100%);
            }
        }
        .icon{
             
            text-align: center;
        }
    }