.row-banner .img .pic{
    width: 100%; 
}
.row-banner{
    position: relative;
}
.row-banner .finan{
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row-banner .text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row-banner .text h4{
    font-family: SVN-Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.row-banner .text h2{
    font-family: UTM Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    color: #EE9B1E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.row-banner .text h3{
    font-family: UTM Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}
.row-cong-nghe-tai-chinh .row{
    padding: 5% 6.25%;
    
}
.row-cong-nghe-tai-chinh .row .pic{
    position: relative;
    
}
.row-cong-nghe-tai-chinh .row .pic .line-1{
    position: absolute;
    top: -10%;
    right:0;
}
.row-cong-nghe-tai-chinh .row .pic .line-2{
    position: absolute;
    top: 86%;
    left: -10%;
}
.row-cong-nghe-tai-chinh .row .pic .img{
    position: relative;
}
.row-cong-nghe-tai-chinh .row .pic{
    position: absolute;
    top:0;
}
.row-cong-nghe-tai-chinh .row .text {
    
    position: absolute;
    padding-top: 7%;
    padding-left: 15%;
}

.row-cong-nghe-tai-chinh .row .text h4{
    position: relative;
    font-family: SVN-Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #0C245F;
}
.row-cong-nghe-tai-chinh .row .text li{
    position: relative;
    font-family: SVN-Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 15px;
    line-height: 70px;
    color: #313131;
}
.row-cong-nghe-tai-chinh .row .text p{
    position: relative;
    font-family: SVN-Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #EE9B1E;
    opacity: 0.75;
} 
